<div class="collection-template collection-template-skin-1 collection-suppermarket">
  {% render 'collection-header' %}
  <div class="container">
    <div class="halo-collection-content">
      <div class="d-block d-xl-none">
        {% render 'breadcrumb' %}
      </div>
      <div class="appendTo-toolbar">
        <div class="container"></div>
      </div>
      <div class="row">
        {% render 'sidebar-filter' %}
        {% render 'collection-template-supermarket' %}
      </div>
    </div>
  </div>
</div>