<div class="collection-template collection-template-express-order translate-filter-pc">
    <div class="reverse-mb">
        {% render 'collection-header' %}
        <div class="container">
            {% render 'breadcrumb' %}
        </div>
    </div>
    <div class="container">
        <div class="halo-collection-content">
            <div class="row">        
                {% render 'sidebar-filter' %}
                {% render 'collection-template-express-order' %}
            </div>
        </div>   
    </div>
</div>