<div class="collection-template collection-template-fullwidth translate-filter-pc">
  <div class="reverse-mb">
    {% render 'collection-header' %}
    <div class="container-padd60">
      {% render 'breadcrumb' %}
    </div>
  </div>
  <div class="container-padd60">
    <div class="halo-collection-content">
      <div class="row">        
        {% render 'sidebar-filter' %}
        {% render 'collection-template-fullwidth' %}
      </div>
    </div>   
  </div>
</div>