<div class="collection-template collection-template-default">
  <div class="container">
    {% render 'breadcrumb' %}
    <div class="halo-collection-content">
      <div class="row">
        {% render 'sidebar-filter' %}
        {% render 'collection-template-default' %}
      </div>
    </div>   
  </div>
</div>