{% if settings.header_layout == 'default' %}
<div class="wrapper-header wrapper_header_default {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header' %}
    {% section 'navigation' %}
</div>

{% elsif settings.header_layout == 'parallax' %}
<div class="wrapper-header wrapper_header_parallax {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-parallax' %}
</div>

{% elsif settings.header_layout == '02' %}
<div class="wrapper-header wrapper_header_02 header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-02' %}
    {% section 'navigation' %}
</div>

{% elsif settings.header_layout == '03' %}
<div class="wrapper-header wrapper_header_03 header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-03' %}
    {% section 'navigation' %}
</div>

{% elsif settings.header_layout == '04' %}
<div class="wrapper-header wrapper_header_04 header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-04' %}
</div>

{% elsif settings.header_layout == '05' %}
<div class="wrapper-header wrapper_header_05 header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-05' %}
    {% section 'navigation-05' %}
</div>

{% elsif settings.header_layout == '06' %}
<div class="wrapper-header wrapper_header_06 header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-06' %}
    {% section 'navigation-06' %}
</div>

{% elsif settings.header_layout == '07' %}
<div class="wrapper-header wrapper_header_07 header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-07' %}
    {% section 'navigation-07' %}
</div>

{% elsif settings.header_layout == '08' %}
<div class="wrapper-header wrapper_header_supermarket wrapper_header_08 header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-08' %}
    {% section 'navigation-08' %}
</div>

{% elsif settings.header_layout == 'vertical' %}
<div class="wrapper-header wrapper_header_vertical {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-vertical' %}
</div>

{% elsif settings.header_layout == 'supermarket' %}
<div class="wrapper-header wrapper_header_supermarket header-lang-style2 {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
    {% section 'header-supermarket' %}
    {% section 'navigation-supermarket' %}
</div>
{% endif %}