{% if settings.blog_layout == "default" %} 
	{% render 'blog-default' %}
{% elsif settings.blog_layout == "full_width" %}
	{% render 'blog-full-width' %}
{% elsif settings.blog_layout == "mansory" %}
	{% render 'blog-mansory' %}
{% elsif settings.blog_layout == "right_sidebar" %}
	{% render 'blog-right-sidebar' %}
{% endif %}

{% schema %}
  {
    "name": "Main Blog",
    "settings": [      
      {
        "type": "text",
        "id": "blog_post",
        "label": "Blog post per page",
        "default": "3"
      },
      {
        "type": "select",
        "id": "blog_text_align",
        "label": "Blog Text Align",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "info": "Default Value: Left"
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ],
    "blocks": [
    	{
            "type": "sidebar_blog",
            "name": "Sidebar Blog",
            "settings": [
            {
		        "type": "checkbox",
		        "id": "display_sidebar_blog_page",
		        "label": "Enable Sidebar",
		        "default": true
	    	},
		  	{
		        "type": "select",
		        "id": "show_sidebar",
		        "label": "Show Sidebar on:",
		        "options": [
		          {
		            "value": "left",
		            "label": "Left"
		          },
		          {
		            "value": "right",
		            "label": "Right"
		          }          
		        ],
		        "default": "left",
		        "info": "Default: Left"
		    },
		    {
		        "type": "checkbox",
		        "id": "display_sidebar_link",
		        "label": "Enable Sidebar Link",
		        "default": true
		    },
		    {
		        "type": "text",
		        "id": "sidebar_link_title",
		        "label": "Title",
				"default": "Categories"
		    },
		    {
		        "type": "radio",
		        "id": "style_categories",
		        "label": "Show all \/ Only a few categories",
		        "options": [
		          {
		            "value": "style_show_all",
		            "label": "Show all"
		          },
		          {
		            "value": "style_little",
		            "label": "Only a few categories"
		          }
		        ]
		    },
		    {
		        "type": "link_list",
		        "id": "link_list",
		        "label": "Choose a menu",
		        "default": "main-menu"
		    },
		    {
		        "type": "checkbox",
		        "id": "sidebar_recent_art",
		        "label": "Show Block Recent Article",
		        "default": true
		    },
			{
		        "type": "checkbox",
		        "id": "sidebar_blog_tags",
		        "label": "Show Sidebar Blog tags",
		        "default": false
		    },
		    {
		    	"type": "header",
                "content": "Product Slider"
		    },
		    {
            	"type": "checkbox",
            	"id": "enable_product",
	            "label": "Enable",
	            "default": true
     	    },
            {
	            "type": "text",
	            "id": "title_product",
	            "label": "Title",
	            "default": "Featured Products"
            },
            {
	            "id": "collection",
	            "type": "collection",
	            "label": "Collection"
          	},
            {
	            "type": "text",
	            "id": "limit",
	            "label": "Number of products to show",
	            "default": "8"
            },
            {
		    	"type": "header",
                "content": "Block Image 1"
		    },
            {
	            "type": "checkbox",
	            "id": "enable_img_1",
	            "label": "Enable",
	            "default": true
     	    },
            {
	            "type": "image_picker",
	            "id": "image_img_1",
	            "label": "Image"
          	},
          	{
	            "type": "url",
	            "id": "link_img_1",
	            "label": "Link",
	            "info": "Optional"
          	},
          	{
		    	"type": "header",
                "content": "Block Image 2"
		    },
            {
	            "type": "checkbox",
	            "id": "enable_img_2",
	            "label": "Enable",
	            "default": true
     	    },
            {
	            "type": "image_picker",
	            "id": "image_img_2",
	            "label": "Image"
          	},
          	{
	            "type": "url",
	            "id": "link_img_2",
	            "label": "Link",
	            "info": "Optional"
          	},
          	{
                "type": "header",
                "content": "Custom Block"
            },
          	{
	            "type": "checkbox",
	            "id": "enable_custom_block",
	            "label": "Enable",
	            "default": true
	     	},
	        {
	            "type": "text",
	            "id": "title_custom_block",
	            "label": "Heading",
	            "default": "Custom Block"
	        },
	        {
	            "type": "textarea",
	            "id": "quote_custom_block",
	            "label": "Text",
	            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
	        }
        	]
        }
    ]
  }
{% endschema %}